/* ============  Estructura del body y generales =============== */

body
    color #fff
    font-size 18px
    font-family 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    text-align center

    *
        transition all 0.2s ease-in-out