// Estilos para normalizar todo

@import "normalize"
*
	box-sizing border-box

$ancho_maximo = 650px;

// Generales de la web
body
	color #5A3928
	font-family Tahoma, Verdana, Arial, Sans-Serif
	font-size 18px
	margin 0 auto
	text-align center

a
	text-decoration none

	&:hover
	&:visited
	&:active 
		color #CB583E
		text-decoration underline
		text-shadow 0px 0px 5px #000

.contenedor
	background rgba(0,0,0,0.5)
	height 100vh

.wrapper
	position relative
	overflow hidden
	margin 0 auto
	max-width $ancho_maximo
	position relative
	text-align center

.footer
	color #eee

// Logotipo
.logotipo
	margin 0 auto
	top 13px
	position absolute
	text-align center
	width 100%
	z-index 99

.la_imagen
	background rgba(255,255,255,0.75)
	box-shadow 0px 15px 20px 5px #000
	margin 0 auto
	max-width 200px
	
	img
		max-height 80px
		width 100%

// los slides
.slides
.slider__item
	background rgba(0,0,0,0.97) url("images/bj3.jpg") no-repeat center center
	border-radius 8px 
	border 8px solid white
	// box-shadow 0px 5px 25px 12px #000
	box-sizing border-box
	display block
	margin 5px auto 3em auto
	max-width $ancho_maximo
	// max-height 540px
	overflow hidden
	padding 0
	width 100%
	z-index 98

.slider__item
	figure
		img
			width 100%
	iframe
		height 100%
		width 100%


// las leyendas de las fotos
.wp-caption-text
	background rgba(255,255,255,0.75)
	// color #fff
	padding 16px
	position absolute
	bottom -2 px
	width 100%

.wp-caption
	width 100% !important
	img
		width 100%
		height auto