// Estilos para normalizar todo
@import "normalize"

// Generales de la web
body
	color #5A3928
	font-family Tahoma, Verdana, Arial, Sans-Serif
	font-size 18px
	margin 0 auto
	text-align center

.wrapper
	margin 0 auto
	overflow hidden 
	position relative
	text-align center

// Logotipo
.logotipo
	background rgba(255,255,255,0.5)
	box-shadow 0px 5px 20px 5px #000
	max-width 250px
	// position absolute
	// width 100%
	z-index 99
	margin 0 auto
	
	img
		max-height 80px
		width 100%

// los slides
.slides
	background rgba(0,0,0,0.97) url("images/apple.jpg") no-repeat center center
	border-radius 5px 
	border 12px solid white
	box-shadow 0px 5px 25px 12px #000
	box-sizing border-box
	display inline-block 
	margin 5px auto 3em auto
	max-width 650px
	max-height 540px
	overflow hidden
	padding 0
	z-index 98


// las leyendas de las fotos
.wp-caption-text
	background rgba(0,0,0,0.6)
	color #fff
	margin-right auto
	margin-left auto
	max-width 320px
	padding 1em
	position absolute
	text-align left 
	top 470px